<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mosandystore.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MOSANDY STORE</name>
    <description>Aplikasi PPOB & Marketplace Digital MOSANDY STORE</description>
    <author email="admin@mosandystore.app">MOSANDY STORE</author>
    <content src="https://mosandystore.up.railway.app" />
    <access origin="*" />
    <allow-navigation href="https://mosandystore.up.railway.app/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
</widget>
